@font-face {
    font-family:'Overpass';
    src: url(../fonts/Overpass-Regular.ttf);
    font-weight:100 900;
    font-style:normal;
}

@font-face {
    font-family:'Bitters';
    src: url(../fonts/Bitter-VariableFont_wght.ttf);
    font-weight:100 900;
    font-style:normal;
}

:root {
    --main-font:Overpass;
    --secondary-font:Bitters;
    --main-color:#333;
    --main-link-color:#7E8073;
    --main-background-color:#FCFEE5;
    --top-position:35%;
    font-size:16px;
    
}

body {
        font-family:var(--main-font);
        font-weight:400;
        margin:0;
        padding:0;
        box-sizing: border-box;
        color:var(--main-color);
        background-color:var(--main-background-color);
}

a {
    text-decoration:none;
    color:var(--main-link-color);
    font-family: var(--secondary-font);
}

/* Splash Page Styles */

        .splash-media {
            padding:1%;
        }

        .splash-media a {
            padding:.3%;
        }
        .splash-media img {
            max-width:32px;
        }

        .splash-heading {
            margin:0;
            position: absolute;
            top:0;
            left:0;
            height:100%;
            width:100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .splash-logo img {
            display:block;
            margin:0 auto;
            width:100%;
            max-width:1200px;
        }

        .splash-heading p {
            text-align:center;
            color:#333;
            font-size:2rem;
            margin-top:-1.5rem;
            font-family:var(--main-font);
        }

/* Standard Page Styles */
.top-bar {
    display:grid;
    align-items: center;
    padding:0 1%;
}

.media {
    padding:0 1%;
    grid-area: 1 / 1 / 2 / 2;
}

.media a {
        display:inline-block;
        padding:1%;
    }

.checkout-login {
    grid-area:1 / 2 / 2 / 3;
    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.checkout-login a {
    padding:0 1%;    
}

.media img,
.checkout-login img {
    width:100%;
    max-width:32px;
}

.search-bar {
    grid-area:2 / 1 / 2 / 3;
    height:1.5rem;
    display:block;
    border:2px solid #333;
    border-radius:8px;
    border-color:#333;
    background-color: #ffffff;
    display:flex;
    padding: .2%;
    
}

.search-box {
    border:none;
    background-color: transparent;
    outline:none;
    width:100%;
    
}

.search-icon {
    width:inherit;
    height:inherit;
}

.search-bar:focus-within .search-box::placeholder {
    color:transparent;
    border:none;
}



.logo {
    margin:4% auto;
    width:100%;
    grid-area:logo;
}

.logo > a > img {
    width:100%;
}

.sub-head {
    text-align:center;
    color:#333;
    font-size:2rem;
    margin-top:-1.5rem;
    font-family:var(--main-font);
    grid-area:sub-head;
}

.gallery {
    margin:0;
    width:100%;
    display:grid;
    grid-template-columns:1fr;
    grid-gap:.78%;
    filter:drop-shadow(.5rem .5rem 1rem #B3AFA1);
}

.gallery-item {
    margin:auto;
    position: relative;
    width:100%;
    background-color:transparent;
}

.gallery-item > figure {
    margin:0;
    width:100%;
}

.gallery-item > figure > img {
    width:100%;
    clip-path: inset(15% 0 35% 0);
}

.gallery-item-1 {
    margin-top:-15%;
}

.gallery-item-2,
.gallery-item-3,
.gallery-item-4{
    margin-top:-78%;
}

/* Fade */
         
.overlay {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    opacity:0;
    transition:.75s ease;

}

.gallery-item:hover .overlay,
.gallery-item:active .overlay {
  opacity:.8;
    transition:.75s ease;
}

.text {
    display:flex;
    height:auto;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow:auto;
    top:30%;
}

.text a {
    font-size:1.5rem;
    font-family: var(--secondary-font);
    background-color:var(--main-background-color);
    width:100%;
    padding:5% 0;
    text-align: center;
}

.page-footer {
    position:relative;
    bottom:0;
    text-align:center;
    width:100%;
    margin:-35% 0 0 0;
}
    
.footer-nav a {
    display:block;
    padding:1% 2%;
    font-size:1.5rem;
    font-family: var(--secondary-font);
} 

.copyright {
    margin-top:5rem;
    margin-bottom:0;
}


.address {
    margin-top:0;
}

.form {
    margin-bottom:50%;
    max-width:800px;
}

fieldset {
    border:none;
}

.form textarea {
    min-height:8rem;
}

.form input[type=text],
.form input[type=email],
.form textarea {
  width: 100%;
  padding: .75rem;
  border: 1px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: .375rem;
  margin-bottom: 1rem;
  resize: vertical;
}

.form input[type=checkbox] {
    
}

.form input[type=submit] {
    background-color:#B39998;
}

.form input[type=reset] {
    background-color:#B38FAC;
}

.form input[type=submit],
.form input[type=reset] {
  color: #FFF;
  padding: .75rem 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #333;
}

.form {
  border-radius: 5px;
  background-color: #FFF8D9;
  padding: 1.25rem;
} 

@media (min-width:600px) {
    .logo {
        margin:0 auto;
        width:90%;
    }

    .gallery {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:0;
    }
    
    .gallery-item-1,
    .gallery-item-2 {
    margin-top:-15%;
    }

    .gallery-item-3,
    .gallery-item-4 {
        margin-top:-78%;
    }
    
    .page-footer {
        margin:-10% 0 0 0;
    }
    
    .text {
        top:27%;
    }
}

@media (min-width:700px) {
    
    .splash-media img,
    .media img,
    .checkout-login img {
        max-width:40px;
    }
    
    .search-bar {
        height:2rem;
    }
    
    .logo {
        margin:0 auto;
        width:80%;
    }
    
    .gallery-item > figure > img {
    width:100%;
    clip-path: inset(10% 0 30% 0);
    }

    .gallery-item-1,
    .gallery-item-2 {
    margin-top:-15%;
    }

    .gallery-item-3,
    .gallery-item-4 {
        margin-top:-61%;
    }

    .footer-nav a {
        display:inline-block;
    }
    
    .form {
    margin-bottom:40%;
        display:grid;
        grid-gap:1%;
        grid-template-areas: 'first-name last-name'
                             'email email'
                             'phone-number phone-number'
                             'comments comments'
                             'privacy privacy'
                             'privacy2 privacy1'
                             'submit submit';
    }
    
    .first-name {
        grid-area: first-name;
    }
    
    .last-name {
        grid-area: last-name;
    }
    
    .email {
        grid-area: email;
    }
    
    .comments {
        grid-area: comments;
    }
    
    .privacy {
        grid-area: privacy;
    }
    
    .privacy1 {
        grid-area: privacy1;
    }

    .privacy2 {
        grid-area: privacy2;
    }

    .phone-number {
        grid-area: phone-number;
    }

    .submit-reset {
        grid-area:submit;
        width:50%;
    }
}

@media (min-width:800px) {
    body {
        margin:0 auto;
        width:90%;
    }
    
    .top-bar {
        grid-template-columns: 2fr 4fr 2fr;
    }
    
    .search-bar,
    .media,
    .checkout-login {
        grid-area:auto;
    }
    
    .gallery-item > figure > img {
    width:100%;
    clip-path: inset(5% 0 25% 0);
    }

    .gallery-item-1,
    .gallery-item-2 {
    margin-top:-7%;
    }

    .gallery-item-3,
    .gallery-item-4 {
        margin-top:-50%;
    }   
    
    .form {
        margin:0 auto 30% auto;
        width:90%;
}
}

@media (min-width:900px) {
    
    .gallery-item > figure > img {
    width:100%;
    clip-path: inset(0 0 20% 0);
    }

    .gallery-item-1,
    .gallery-item-2 {
    margin-top:0;
    }

    .gallery-item-3,
    .gallery-item-4 {
        margin-top:-31.2%;
    }
    
    .form {
        margin:0 auto 20% auto;
        width:80%;
    }
}

@media (min-width:1000px) {
    body {
        margin:0 auto;
        max-width:1200px;
    }
    
    .form {
        width:70%;
    }
}

@media (min-width:1200px) {
    
    body {
        max-width:1400px;
    }
    
    .sub-head {
        font-size:40px;
    }
    
    .text {
        top:40%;
    }
    
    .text a {
        font-size:32px;
        font-weight: 900;
        color:#FFF;
        background-color:transparent;
    }
    
    .gallery-item img {
        transition: .82s ease-out;
    }
    .overlay {
        background-color:transparent;
        transition: .82s ease-out;
    }
    
    .gallery-item:hover overlay,
    .gallery-item:hover img,
    .overlay:hover {
        opacity:.5;
        transition:.82s ease-out;
    }
    .gallery {
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap:0;
        margin:5% 0 10% 0;
    }
   .gallery-item > figure > img {
        width:100%;
        clip-path: none;
    }
    
    .gallery-item-1,
    .gallery-item-2,
    .gallery-item-3,
    .gallery-item-4 {
        margin-top:0;
    }
    
    .page-footer {
        margin:0;
    }
    .footer-nav a {
        transition: .82s ease-out;
    }
    .footer-nav :nth-child(odd):focus,
    .footer-nav :nth-child(odd):hover,
    .footer-nav :nth-child(odd):active{
        color:#7DB3B0;
        transform:rotate(5deg);
        transition:.82s ease-out;
    }
    
    .footer-nav :nth-child(even):focus,
    .footer-nav :nth-child(even):hover,
    .footer-nav :nth-child(even):active {
        color:#7DB3B0;
        transform:rotate(-5deg);
        transition: .82s ease-out;
    }
    
    .form {
    margin-bottom:10%;
    }
}

@media (min-width:1400px) {
    
    body {
        max-width:1600px;
    }
    
    .logo {
        width:60%;
    }
    
    
}

